In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint

from config import api_key

In [2]:
#The College Scorecard API is a GET API that lives at http://api.data.gov/ed/collegescorecard/
#The endpoint for querying all data is /v1/schools
base_url = "https://api.data.gov/ed/collegescorecard/v1/schools?"
base_url = f"{base_url}api_key={api_key}&fields="
base_url

'https://api.data.gov/ed/collegescorecard/v1/schools?api_key=qU5kxpGGsRBz1SbYzlvidBgnbKC1yQ0lX30EU6Mo&fields='

In [3]:
# List of all the search conditions
parameters = ["&school.degrees_awarded.predominant=3",
             "&school.institutional_characteristics.level=1",
             "&school.operating=1"
             ]

# Appending all the conditions values to construct the conditionss_url
parameters_url = ""
for parameter in parameters:
    parameters_url = parameters_url + parameter
parameters_url

'&school.degrees_awarded.predominant=3&school.institutional_characteristics.level=1&school.operating=1'

In [4]:
# Dictionary all the desired fields
year = "latest"
fields = {
          # School Category
          "School Name": "school.name",
          "School ID": "id",
          "School State": "school.state",
          "School Ownership": "school.ownership",
          "Full-time Faculty Rate (%)": "school.ft_faculty_rate",
          "Faculty's average salary per month": "school.faculty_salary",
          # Student Category
          "Student Enrollment Size": year + ".student.size",
          "Student Enrollment All": year + ".student.enrollment.all",
          "Male Students (%)": year + ".student.demographics.men",
          "Female Students (%)": year + ".student.demographics.women",
          "Retention Rate 4Yr (%)": year + ".student.retention_rate.four_year.full_time",
          # Completion Category
          "150% Completion Rate at 4Yr (%)": year + ".completion.completion_rate_4yr_150nt",
          # Admissions Category 
          "Admission Rate (%)": year + ".admissions.admission_rate.overall",
          "SAT Average Overall": year + ".admissions.sat_scores.average.overall",
          "SAT 75th Percentile Critical Math": year + ".admissions.sat_scores.75th_percentile.math",
          "SAT 75th Percentile Critical Reading": year + ".admissions.sat_scores.75th_percentile.critical_reading",
          "SAT 75th Percentile Critical Writing": year + ".admissions.sat_scores.75th_percentile.writing",
          ## Earnings Category
          # 6 Years after Enrollment:
          "Mean Earnings (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings",
          "Mean Male Earnings (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.mean_earnings.male_students",
          "Mean Female Earnings (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.mean_earnings.female_students",
          "Std. Deviation Earning (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.working_not_enrolled.std_dev",
          "Percent of Students Earning >$25K (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.percent_greater_than_25000",
          "Low Income Students (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.working_not_enrolled.income.lowest_tercile",
          "Medium Income Students (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.working_not_enrolled.income.middle_tercile",
          "High Income Students (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.working_not_enrolled.income.highest_tercile",
          "Mean Earnings Low (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.mean_earnings.lowest_tercile",
          "Mean Earnings Medium (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.mean_earnings.middle_tercile",
          "Mean Earnings High (6 Yrs after Entry)": year + ".earnings.6_yrs_after_entry.mean_earnings.highest_tercile",
          # 10 Years after Enrollment:
          "Mean Earnings (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings",
          "Mean Male Earnings (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.mean_earnings.male_students",
          "Mean Female Earnings (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.mean_earnings.female_students",
          "Std. Deviation Earning (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.working_not_enrolled.std_dev",
          "Percent of Students Earning >$25K (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.percent_greater_than_25000",
          "Low Income Students (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.working_not_enrolled.income.lowest_tercile",
          "Medium Income Students (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.working_not_enrolled.income.middle_tercile",
          "High Income Students (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.working_not_enrolled.income.highest_tercile",
          "Mean Earnings Low (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.mean_earnings.lowest_tercile",
          "Mean Earnings Medium (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.mean_earnings.middle_tercile",
          "Mean Earnings High (10 Yrs after Entry)": year + ".earnings.10_yrs_after_entry.mean_earnings.highest_tercile"
         }

# Appending all the fields values to construct the fields_url
fields_url = ""
for key, val in fields.items():
    fields_url = fields_url + val + ","

# To remove the extra "," at the end of fields_url
fields_url = fields_url[:-1]
fields_url

'school.name,id,school.state,school.ownership,school.ft_faculty_rate,school.faculty_salary,latest.student.size,latest.student.enrollment.all,latest.student.demographics.men,latest.student.demographics.women,latest.student.retention_rate.four_year.full_time,latest.completion.completion_rate_4yr_150nt,latest.admissions.admission_rate.overall,latest.admissions.sat_scores.average.overall,latest.admissions.sat_scores.75th_percentile.math,latest.admissions.sat_scores.75th_percentile.critical_reading,latest.admissions.sat_scores.75th_percentile.writing,latest.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings,latest.earnings.6_yrs_after_entry.mean_earnings.male_students,latest.earnings.6_yrs_after_entry.mean_earnings.female_students,latest.earnings.6_yrs_after_entry.working_not_enrolled.std_dev,latest.earnings.6_yrs_after_entry.percent_greater_than_25000,latest.earnings.6_yrs_after_entry.working_not_enrolled.income.lowest_tercile,latest.earnings.6_yrs_after_entry.working_not_enrolled.income.middle_tercile,latest.earnings.6_yrs_after_entry.working_not_enrolled.income.highest_tercile,latest.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile,latest.earnings.6_yrs_after_entry.mean_earnings.middle_tercile,latest.earnings.6_yrs_after_entry.mean_earnings.highest_tercile,latest.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings,latest.earnings.10_yrs_after_entry.mean_earnings.male_students,latest.earnings.10_yrs_after_entry.mean_earnings.female_students,latest.earnings.10_yrs_after_entry.working_not_enrolled.std_dev,latest.earnings.10_yrs_after_entry.percent_greater_than_25000,latest.earnings.10_yrs_after_entry.working_not_enrolled.income.lowest_tercile,latest.earnings.10_yrs_after_entry.working_not_enrolled.income.middle_tercile,latest.earnings.10_yrs_after_entry.working_not_enrolled.income.highest_tercile,latest.earnings.10_yrs_after_entry.mean_earnings.lowest_tercile,latest.earnings.10_yrs_after_entry.mean_earnings.middle_tercile,latest.earnings.10_yrs_after_entry.mean_earnings.highest_tercile'

In [5]:
# Getting number of records returned to set the max page number
query_url = f"{base_url}{fields_url}{parameters_url}&page=0"
response = requests.get(query_url).json()
max_page_num = response["metadata"]["total"]//100 + 1
max_page_num

21

In [6]:
# Constructing the dataframe from the API request response

#Initializing variables
school_df = []
per_page = 100

for page_num in range(0,max_page_num):
    query_url = f"{base_url}{fields_url}{parameters_url}&page={page_num}&_per_page={per_page}"
    response = requests.get(query_url).json()
    
    for x in range(len(response["results"])):
        result_row = {}
        
        for key, val in fields.items(): 
            try:
                result_row[key] = response["results"][x][val]
            except KeyError:
                print(f"{key} key not found")
                
        school_df.append(result_row)

        
school_df = pd.DataFrame(school_df)

In [7]:
# Updating School Ownership 1: "Public", 2: "Private NonProfit", 3: "Private ForProfit"}
school_df.loc[school_df["School Ownership"] == 1, "School Ownership"] = "Public"
school_df.loc[school_df["School Ownership"] == 2, "School Ownership"] = "Private NonProfit"
school_df.loc[school_df["School Ownership"] == 3, "School Ownership"] = "Private ForProfit"

In [8]:
school_df["School Ownership"].value_counts()

Private NonProfit    1239
Public                593
Private ForProfit     217
Name: School Ownership, dtype: int64

In [9]:
# Formatting the Percentage columns
school_df["Admission Rate (%)"] = school_df["Admission Rate (%)"] * 100
school_df["150% Completion Rate at 4Yr (%)"] = school_df["150% Completion Rate at 4Yr (%)"] * 100
school_df["Retention Rate 4Yr (%)"] = school_df["Retention Rate 4Yr (%)"] * 100
school_df["Full-time Faculty Rate (%)"] = school_df["Full-time Faculty Rate (%)"] * 100
school_df["Percent of Students Earning >$25K (6 Yrs after Entry)"] = school_df["Percent of Students Earning >$25K (6 Yrs after Entry)"] * 100
school_df["Percent of Students Earning >$25K (10 Yrs after Entry)"] = school_df["Percent of Students Earning >$25K (10 Yrs after Entry)"] * 100
school_df["Male Students (%)"] = school_df["Male Students (%)"] * 100
school_df["Female Students (%)"] = school_df["Female Students (%)"] * 100

pd.options.display.float_format = '{:.2f}'.format

In [10]:
school_df.head()

,150% Completion Rate at 4Yr (%),Admission Rate (%),Faculty's average salary per month,Female Students (%),Full-time Faculty Rate (%),High Income Students (10 Yrs after Entry),High Income Students (6 Yrs after Entry),Low Income Students (10 Yrs after Entry),Low Income Students (6 Yrs after Entry),Male Students (%),...,SAT 75th Percentile Critical Writing,SAT Average Overall,School ID,School Name,School Ownership,School State,Std. Deviation Earning (10 Yrs after Entry),Std. Deviation Earning (6 Yrs after Entry),Student Enrollment All,Student Enrollment Size
0,30.00,nan,6896.00,59.25,7.82,1854.00,2383.00,3049.00,7701.00,40.75,...,nan,nan,449038,Strayer University-Florida,Private ForProfit,FL,39800.00,29300.00,nan,1698.00
1,nan,nan,7980.00,70.33,nan,1854.00,2383.00,3049.00,7701.00,29.67,...,nan,nan,450298,Strayer University-Delaware,Private ForProfit,DE,39800.00,29300.00,nan,246.00
2,58.33,98.39,3750.00,59.04,28.57,nan,nan,nan,nan,40.96,...,nan,nan,182917,Northeast Catholic College,Private NonProfit,NH,nan,nan,nan,83.00
3,32.56,68.17,8807.00,68.32,100.00,2937.00,3234.00,2499.00,2961.00,31.68,...,nan,917.00,484905,University of North Texas at Dallas,Public,TX,35100.00,25800.00,nan,2257.00
4,nan,100.00,6857.00,86.60,20.31,nan,566.00,41.00,586.00,13.40,...,nan,nan,485272,West Coast University-Miami,Private ForProfit,FL,42100.00,35500.00,nan,485.00

In [11]:
# Saving Dataframe in CSV file
school_df.to_csv("Schools_DF.csv", index=False)

In [12]:
school_df.count()

150% Completion Rate at 4Yr (%)                           1884
Admission Rate (%)                                        1643
Faculty's average salary per month                        1993
Female Students (%)                                       2047
Full-time Faculty Rate (%)                                1914
High Income Students (10 Yrs after Entry)                 1745
High Income Students (6 Yrs after Entry)                  1755
Low Income Students (10 Yrs after Entry)                  1792
Low Income Students (6 Yrs after Entry)                   1810
Male Students (%)                                         2047
Mean Earnings (10 Yrs after Entry)                        1840
Mean Earnings (6 Yrs after Entry)                         1862
Mean Earnings High (10 Yrs after Entry)                   1649
Mean Earnings High (6 Yrs after Entry)                    1666
Mean Earnings Low (10 Yrs after Entry)                    1656
Mean Earnings Low (6 Yrs after Entry)                     1678
Mean Earnings Medium (10 Yrs after Entry)                 1608
Mean Earnings Medium (6 Yrs after Entry)                  1609
Mean Female Earnings (10 Yrs after Entry)                 1664
Mean Female Earnings (6 Yrs after Entry)                  1689
Mean Male Earnings (10 Yrs after Entry)                   1664
Mean Male Earnings (6 Yrs after Entry)                    1689
Medium Income Students (10 Yrs after Entry)               1751
Medium Income Students (6 Yrs after Entry)                1766
Percent of Students Earning >$25K (10 Yrs after Entry)    1818
Percent of Students Earning >$25K (6 Yrs after Entry)     1838
Retention Rate 4Yr (%)                                    1905
SAT 75th Percentile Critical Math                         1185
SAT 75th Percentile Critical Reading                      1183
SAT 75th Percentile Critical Writing                       708
SAT Average Overall                                       1248
School ID                                                 2049
School Name                                               2049
School Ownership                                          2049
School State                                              2049
Std. Deviation Earning (10 Yrs after Entry)               1840
Std. Deviation Earning (6 Yrs after Entry)                1862
Student Enrollment All                                    1750
Student Enrollment Size                                   2047
dtype: int64